<div class="botones">
    <input type="button" class="btn btn-primary" value="Listar Empleados" onclick="document.location.href='/Employees/ListarEmpleados'" />
    <input type="button" class="btn btn-success" value="Agregar Empleado" onclick="document.location.href='/Employees/AgregarEmpleado'" />
    <input type="button" class="btn btn-warning" value="Modificar Empleado" onclick="document.location.href='/Employees/ModificarEmpleado'" />
    <input type="button" class="btn btn-danger" value="Borrar Empleado" onclick="document.location.href='/Employees/BorrarEmpleado'" />
</div>
