@using Shared.Entities
<div style="margin-top : 5%;">
    <input type="button" class="btn btn-primary" value="Agregar Empleado" onclick="$('#agregarEmpleado').modal();" />
    <input type="button" class="btn btn-success" value="Modificar Empleado" onclick="chequearSeleccionModificar();" />
    <input type="button" class="btn btn-danger" value="Borrar Empleado" onclick="chequearSeleccionBorrar();" />
</div>
@if(ViewBag.HayEmpleados)
{
    <table class="table table-hover">
        <tr>
            <td>
                Nombre
            </td>
            <td>
                Fecha de Inicio
            </td>
            <td>
                Tipo de Empleado
            </td>
            <td>
                Mail
            </td>
        </tr>

        @foreach (Employee e in ViewBag.Empleados)
        {
            <tr>
                <td>
                    @e.Name
                </td>
                <td>
                    @e.StartDate.ToUniversalTime()
                </td>
                <td>

                    @if (e.GetType().ToString().Equals("PartTimeEmployee"))
                    {
                        string tipoEmp = "Empleado Part Time";
                        @tipoEmp
                    }
                    else
                    {
                        string tipoEmp = "Empleado Full Time";
                        @tipoEmp
                    }
                </td>
                <td>
                    @e.Email
                </td>
            </tr>
        }
    </table>
}
else
{
    <div style="margin-top:3%;">
        No hay empleados para mostrar
    </div>
}

<div class="modal fade" id="agregarEmpleado">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Agregar Empleado</h4>
            </div>
            <div class="modal-body">
                Mail : <input type="text" class="form-control" id="email" placeholder="Mail" />
                Nombre : <input type="text" class="form-control" id="name" placeholder="Nombre" />
                Tipo Empleado :
                <div class="radio">
                    <label>
                        <input type="radio" name="tipoEmpleado" id="tipoEmpleadorr1" value="partTime" checked>
                        Empleado Part Time
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="tipoEmpleado" id="tipoEmpleadorr2" value="fullTime">
                        Empleado Full Time
                    </label>
                </div>
                Salario (por hora en el caso de empleado part time): <input type="text" class="form-control" id="salarioVal" placeholder="Salario" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="agregarEmpleado()">Agregar Empleado</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="modificarEmpleado">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modificar Empleado</h4>
            </div>
            <div class="modal-body">
                Mail : <input type="text" class="form-control" id="mailModif" placeholder="Mail" />
                Nombre : <input type="text" class="form-control" id="nombreModif" placeholder="Nombre" />
                Tipo Empleado :
                <div class="radio">
                    <label>
                        <input type="radio" name="tipoEmpleadoModif" id="tipoEmpleadoModif" value="partTime" checked>
                        Empleado Part Time
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="tipoEmpleadoModif" id="tipoEmpleadoModif2" value="fullTime">
                        Empleado Full Time
                    </label>
                </div>
                Salario (por hora en el caso de empleado part time): <input type="text" class="form-control" id="salarioModif" placeholder="Salario" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="modificarEmpleado()">Modificar Empleado</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="borrarEmpleado">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Borrar Empleado</h4>
            </div>
            <div class="modal-body">
                Está seguro que desea borrar el empleado seleccionado?

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="borrarEmpleado()">Si</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="notificaciones">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color:white">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" id="bodyNotificaciones" style="background-color:whitesmoke">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<!--LOG-->

<div class="modal fade" id="Login">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Login</h4>
            </div>
            <div class="modal-body">
                Email : <input type="text" class="form-control" id="user" placeholder="Usuario" />  
                Contraseña : <input type="password" class="form-control" id="pass" placeholder="Contraseña" />               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Login()">Save Password</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->